<!DOCTYPE html>
<head>
    <title>The Dancing Professor</title>
    <script src="./javascripts/lib/youtube-frame.js"></script>
    <script src="./javascripts/lib/www-widgetapi.js"></script>
    <script src="./javascripts/lib/underscore-min.js"></script>
    <script src="./javascripts/lib/angular/angular.min.js"></script>
    <script src="./javascripts/app.js"></script>
    <link href="./javascripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./javascripts/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
</head>
<html ng-app="page-app">
<body ng-controller="PageCtl">


<div class="content">
    <div class="col-xs-12 row">
        <h2>The Dancing Professor <img src="/images/logo.png" height="50px"></h2>
        <hr/>
    </div>

    <div class="learner row">
        <div class="col-xs-8">
            <div id="player"></div>
        </div>
        <div class="col-xs-4">
            <ul class="vid-actions">
                <li>
                    <a class="red-button" href="javascript:" ng-click="showQuestions()">I'm Confused</a>
                </li>
                <li>
                    <a class="green-button" href="javascript:" ng-click="newResponse()">I know this!</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="row" ng-show="answersVisible">
        <div class="col-xs-12">
            <hr/>
            <h3>Question text here?</h3>
            <ul class="answer-list">
                <li class="answer-option" ng-click="validateAnswer()">

                </li>
                <li class="answer-option">

                </li>
                <li class="answer-option">

                </li>
            </ul>
        </div>
    </div>



</div>

</body>
</html>