<!DOCTYPE html>
<head>
    <title>The Dancing Professor</title>
    <script src="./javascripts/lib/youtube-frame.js"></script>
    <script src="./javascripts/lib/www-widgetapi.js"></script>
    <script src="./javascripts/lib/underscore-min.js"></script>
    <script src="./javascripts/lib/angular/angular.min.js"></script>
    <script src="./javascripts/app.js"></script>
    <link href="./javascripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./javascripts/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
</head>
<html ng-app="myApp">
<body ng-controller="PageCtl">


<div class="content">
    <div class="col-xs-12 row">
        <h2>The Dancing Professor <img src="/images/logo.png" height="50px"></h2>
        <hr/>
    </div>

    <div class="learner row">
        <div class="col-xs-8">
            <div id="player"></div>
        </div>
        <div class="col-xs-4">
            <ul class="vid-actions">
                <li>
                    <a class="red-button" href="javascript:" ng-click="showQuestions()">I'm Confused</a>
                </li>
                <li>
                    <a class="green-button" href="javascript:" ng-click="newResponse()">I know this!</a>
                </li>
                <li>
                    <a class="blue-button" href="javascript:" ng-click="proceed()">Proceed, I'm good</a>
                </li>
                <li style="visibility: hidden;">
                    <a id="hiddenTrigger" ng-click="triggerAuto()">Proceed, I'm good</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" ng-show="answersVisible">
        <div class="col-xs-12">

            <div ng-show="emptyState">
                <hr/>
                <h3>There is no discussion for this segment of video, add your thoughts!</h3>
                <p>A sample question you have for this part</p>
                <textarea style="width:600px; height: 5em;"></textarea>
                <p>An answer to your question</p>
                <textarea style="width:600px; height: 5em;"></textarea>
                <hr/>
                <button type="submit" title="Submit">Submit</button>

            </div>
            <div ng-show="!emptyState">
                <hr/>
                <h3>{{model.currentQuestion.question}}</h3>
                <ul class="answer-list">
                    <li ng-repeat="answer in model.currentQuestion.answers" class="answer-option"
                        ng-click="validateAnswer(answer)"
                        ng-class="answer.colorRed ? 'red' : answer.colorGreen ? 'green' : '' ">
                        <div class="row">
                            <div class="col-xs-4">
                                <img ng-src="./images/{{answer.image}}"/>
                            </div>
                            <div class="col-xs-8">
                                <p>{{answer.explanation}}</p>

                                <p ng-show="answer.colorRed || answer.colorGreen" class="followUp">
                                    {{answer.followUp}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

</body>
</html>
