html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: helvetica, verdana, arial, sans-serif;
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9;
  /*height: 100%;*/
  padding: 1em;
  box-shadow: 0px 0px 20px 3px #d3d3d3;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.highlight {
  background-color: lightblue
}

a {
  padding: 1em;
  border-radius: 3px;
  color: white;
}

a, a:hover {
  text-decoration: none;
}

.red-button {
  background-color: #ff6461;
}

.red-button:hover {
  background-color: #ff9b9b;
  color: #ffe1df;
}

.green-button {
  background-color: #66ff64;
}

.green-button:hover {
  background-color: #aeffba;
  color: #d4ffd8;
}

.blue-button {
  background-color: #a5e5ff;
}

.blue-button:hover {
  background-color: #c0d1ff;
  color: #d4ffd8;
}

.vid-actions {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

.vid-actions li {
  margin-top: 3em;
  margin-bottom: 3em;
}

ul.answer-list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 2em;
}

li.answer-option {
  min-height: 2em;
  padding: 1em;
  width: 100%;
  background-color: #e7e7fb;
  border-radius: 3px;
  margin-bottom: 2em;
  cursor: pointer;
}

li.answer-option.red {
  background-color: lightcoral;
}
li.answer-option.green {
  background-color: lightgreen;
}

li.answer-option .followUp{
  color: white;
  font-weight: bold;
  font-size: 18px;
}